.Headings{
    height: fit-content;
    width: 100vw;
    text-align: center;
    font-size: 80px;
}

.landingdivs{
    text-align: center;
    height: wrap;
    width: 80vw;
    font-size: 35px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    margin: auto;
    padding-top: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
    align-items: right;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    background-color: rgb(150, 233, 101);
    border-radius: 10px;
}

.headingoffers{
    text-align: center;
    margin: auto;
    height: 5vw;
    width: 80vw;
    font-size: 30px;
    margin: auto;
    align-content: center;
    
    

}
#Prod1 {
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    width: 100%;
    height: auto;
    cursor: pointer;
}
#Prod2 {
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    width: 100%;
    height: auto;
    cursor: pointer;
}

#Prod3 {
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    width: 100%;
    height: auto;
    cursor: pointer;
}

#Prod4 {
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.trend{
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    font-size: 30px;
    border-style: solid;
    border-width: 3px;
    height: wrap;
    width: 80vw;
    margin: auto;
    overflow: scroll;
    background-color: rgb(150, 233, 101);
    
    
}

#smart{
    
    font-size: 25px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    text-align: center;
    cursor: pointer;
}

.trendpro{
    display: flex;
    flex-direction: row;
    
}

#sheet{
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

#headphones{
    font-size: 25px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    text-align: center;
    cursor: pointer;
}

#wallet{
    font-size: 25px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    text-align: center;
    cursor: pointer;
}

#schools{
    font-size: 25px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    text-align: center;
    cursor: pointer;
}

.student{
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    font-size: 30px;
    border-style: solid;
    border-width: 3px;
    height: wrap;
    width: 80vw;
    margin: auto;
    overflow: scroll;
    background-color: rgb(150, 233, 101);
}

.studentpro{
    font-size: 25px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

#signup{
    display: inline-block;
    margin: auto;
    font-size: 25px;
    padding-top: 1.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 1.5vw;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(150, 233, 101);
}

.sign1{
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    font-size: 30px;
    border-style: solid;
    border-width: 3px;
    height: wrap;
    width: 80vw;
    margin: auto;
    
    background-color: rgb(150, 233, 101)
}
.datarow{
    font-size: 20px;
}